<h2>Contact Us</h2>
<main>
    For specific inquiries, you can also reach out to us at:
    <p>
    Stray Cats Head Office<br>
    Stray Cats House<br>
    UAN: 021-111 222 Stray Cats (776)<br>
    Phone: (021) 55201889 - 85<br>
    Head Office Line: 204565-03000<br>
    Email: customersupport@Stray-Cats.com<br>
    Address: Qatar, Doha (Dafna), UDST. 75600<br>
    </p>
</main>
<div>
    <iframe
     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d68598.72921159546!2d51.45412013915845!3d25.362044959828722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45dcfb2722e9e9%3A0xd1b07d34e11ee6d5!2sUniversity%20of%20Doha%20for%20Science%20and%20Technology%20-%20UDST!5e0!3m2!1sru!2sqa!4v1712660580128!5m2!1sru!2sqa"
     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
