<main>
    <h2>STATIONS LIST</h2>

    <table>
        <tr><th>Location</th><th>Water Levels</th><th>Food Levels</th><th>Remarks</th></tr>
        {{#each stations}}
            <tr><td>{{this.StationLocation}}</td><td>{{this.RationLevels.Water}} Litres</td><td>{{this.RationLevels.Food}} Kilograms</td><td><m>{{#if this.message}}{{this.message}}{{/if}}</m></td></tr>
        {{/each}}
    </table>
</main>

